body {
  font-family: Arial, sans-serif;
  margin:0;
  padding: 0;
  background: #070707;
  width: 100%;
  
}

nav {
  background-color: #007bff;
  padding: 10px;
  margin: 0;
  display:flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box; 
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  margin-right: 20px
}

nav a:hover {
  text-decoration: underline;
}

p {
  margin: 320px;
}
/* Responsive styles */
@media (max-width: 768px) {
  nav {
      flex-direction: column; /* Stack the nav items vertically for smaller screens */
      align-items: center;
  }

  nav a {
      margin: 10px 0; /* Add space between links */
  }
}

@media (max-width: 480px) {
  p {
      font-size: 14px; /* Smaller font size on very small screens */
  }

  nav a {
      font-size: 14px; /* Adjust link font size */
  }
}

